.cardproducto {
  border: 1px solid #e3c5fc;
  text-align: center;
  min-height: 40em;
}
.cardproducto img {
  height: auto;
  width: 18em;
  padding: 5px;
  margin: 0 auto;
}
.card-body {
  padding-bottom: 0;
}
.card-body h5 {
  font-size: 0.8em;
}
.card-footer {
  border: none;
  background-color: #fff;
}
.card-footer .btn {
  font-size: 0.9em;
}
.card-title A {
  font-weight: 600;
  font-size: 1em;
  color: #000;
}
.card-title A:hover {
  font-weight: 600;
  font-size: 1em;
  color: purple;
}

.precio {
  color: purple;
  font-weight: 600;
}

.col-md-auto img {
  max-width: 20em;
}
