/*ESTILO BRANDING (ISOLOGO)*/
.navbar-brand {
  font-family: "Carter One", cursive;
  font-size: 2em;
  color: #000;
  text-shadow: 2px 2px 1px #a3f1fd;
  text-decoration: none;
  font-weight: normal;
}

.navbar-brand a,
a:hover {
  color: black;
  text-decoration: none;
}

/*BARRA DE NAVEGACION*/
nav {
  background-color: #ad8df7;
  font-weight: 600;
}
Nav A {
  color: #000;
  font-weight: normal;
  padding-top: 0.5em;
  padding-right: 0.8em;
}
/*MENUS DROPDOWN*/
.show .dropdown-menu {
  color: #ff3399;
  font-weight: bold;
  background-color: #b9f4fd;
}

#basic-nav-dropdown {
  color: #000;
  padding-left: 0;
  padding-right: 0.8em;
}

.dropdown-menu a {
  color: #000;
  font-weight: normal;
  display: block;
  padding-left: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
.dropdown-menu a:visited {
  color: #000;
}
.dropdown-menu a:hover {
  color: #ffff33;
  background-color: #ff3399;
}

/*estilo del canasto del carrito*/
.carrito a:active {
  color: #a3f1fd;
}
.carrito a:hover {
  color: #ffff33;
}
