/*ESTILO BRANDING (ISOLOGO)*/
.navbar-brand {
  font-family: "Carter One", cursive;
  font-size: 2em;
  color: #000;
  text-shadow: 2px 2px 1px #a3f1fd;
  text-decoration: none;
  font-weight: normal;
}

.navbar-brand a,
a:hover {
  color: black;
  text-decoration: none;
}

/*BARRA DE NAVEGACION*/
nav {
  background-color: #ad8df7;
  font-weight: 600;
}

/*estilo del canasto del carrito*/
nav a.nav-link {
  color: #a3f1fd;
}
nav a.nav-link:hover {
  color: #ffff33;
}

/*MENUS DROPDOWN*/
.show .dropdown-menu {
  color: #ff3399;

  font-weight: bold;
  background-color: #b9f4fd;
}
a.dropdown-item {
  color: #000;
}
a.dropdown-item:hover {
  color: #ffff33;
  background-color: #ff3399;
}
